:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

.bg-primary,.btn-primary {
    color: white;
    background-color: var(--primary-color);
}

.bg-secondary,.btn-secondary {
    color: white;
    background-color: var(--secondary-color);
}

.bg-dark,.btn-dark {
    color: white;
    background-color: var(--dark-color);
}

.bg-light,.btn-light {
    color: white;
    background-color: var(--light-color);
}

.bg-primary a,.btn-primary a,
.bg-secondary a,.btn-secondary a,
.bg-dark a,.btn-dark a {
    background-color: var(--dark-color);
    color: white;
}

.footer .social a {
    margin: 0 10px;
}

.footer {
    padding: 30px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 5px 0px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 30px;
}

.navbar .flex {
    justify-content: space-between;
}

.card {
    color: #333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase::before , .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    background:white;
    transform: skewY(-3deg);
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px;
}

.showcase-form input[type='text'], .showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-weight: 15px;
}

.showcase-form input:focus {
    outline: none;
}

.stats {
    padding-top: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-outline {
    background-color: transparent;
    border: 1px white solid;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.stats-heading {
    max-width: 500px;
    margin: 1rem auto;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.cli .grid {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid> *:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.3s;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}